<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_ITransferService">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IDeliveryService">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IEmailService">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_IDeliveryService1">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/BankTransferQueueTransacted"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ITransferService"
        contract="TransferService.ITransferService" name="NetMsmqBinding_ITransferService" />
      <endpoint address="net.msmq://localhost/private/EmailQueueTransacted"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IEmailService"
        contract="EmailMessageTransferService.IEmailService" name="NetMsmqBinding_IEmailService" />
      <endpoint address="net.msmq://localhost/private/DeliveryQueueTransacted"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IDeliveryService"
        contract="DeliveryService.IDeliveryService" name="NetMsmqBinding_IDeliveryService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>